* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ccc;
}

main {
    width: 100%;
    height: 100%;
}

article {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 0.625rem;
}