@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Desafio 1 */
h2 {
    font-size: 1.5rem;
}

.card {
    font-family: 'Roboto', sans-serif;
    width: 280px;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background: #222;
    border: 5px solid #444;
    box-shadow: 0 0 5px #222;
    color: #191919;
    font-size: 0.95rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #ececec;
    margin-bottom: 0.625rem;
}
.card img {
    width: 100%;
    border-radius: 8px;
    border: 5px solid #444;
    margin-bottom: 1rem;
}

.card p {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0.625rem;
    text-align: center;
}

/* Desafio 2 */
.citacao {
    font-family: 'Special Elite', cursive;
    max-width: 400px;
    max-height: 400px;
    margin: 1rem;
    padding: 1.5rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 5px #222;

    background-image:url('../images/textura.jpg');
    color: #333;
}

.citacao h2 {
    margin-bottom: 0.75rem;
}

.citacao h3 {
    margin-bottom: 0.75rem;
    font-size: 0.95rem;
}

.citacao blockquote {
    margin-left: 2rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    line-height: 2rem;
}

.citacao p {
    text-align: right;
}

/* Desafio 03 */
.meses {
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    background: #ececec;
    box-shadow: 2px 2px 5px #222;
}

/* Desafio 04 */
.jogo {
    font-family: 'Roboto', sans-serif;
    width: 350px;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    line-height: 2rem;

    background-image: url('../images/fundo-lol.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ececec;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #222;
}

.jogo h2 {
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px #222;
}

.jogo span {
    display: block;
    font-size: 0.75rem;
    text-shadow: 1px 1px 1px #222;
}

.jogo p {
    background: #fff;
    color: #191919;
    border-radius: 8px;
    padding: 3px 10px;
    box-shadow: 0px 0px 2px #222;
}